body {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

.conteiner {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#panelName {
    background: red;
    display: none;
}

.section {
    background-image: url('img/fondo.jpg');
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#sp {
    text-align: center;
}


#desplegar {
    display: block ;
    background:blue;
}

.panel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.panel form {
    display: flex;
    flex-direction: column;
    width: 25vw;
    text-align: center;
    
}

.panel form h2 {
    color: white;
    box-shadow: 0 0 6px rgb(192, 164, 8);
}

.panel form input {
    height: 30px;
    text-align: center;
    /*margin-bottom: 1%;*/
}

.panel2 {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 1px;
    flex-direction: row;
}


.panel2 #formScore {

    display: flex;
    width: 25vw;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px rgb(8, 155, 192)

}

#formScore h4 {
    text-align: center;
}

.panel2 #formScore input {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-size: 20px;
    box-shadow: 0 0 50px rgb(192, 164, 8);
    text-align: center;
}

.panel2 #formScore span {
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    text-align: center;


    
}

.panel2 #formScore span #score {
    display: flex;
    background-color: yellow;
    justify-content: center;
}  


#board {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    padding: 1%;
    
}

.board button {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid #999;
    border-radius: 50px;
    /*box-shadow: 0 0 6px rgb(192, 164, 8);*/
}

.board button.hidden {
    visibility: hidden;
}

.board button.peg {
    background-color: #1f1f25;
}

.board button.peg:hover {
    background-color: #0e0e14
}

.board button.peg:active {
    background-color: #000066;
}

.board button.hole {
    background-color: white;
}

.board button.selected {
    background-color: blue;
}

.board button.selected:active {
    background-color: red;
}

.board button.suggestion {
    background-color: green;
}


@media (max-width: 500px) {

    body {
        background-color: yellow;
        display: flex;
        flex-direction: column;
    }

    #board {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding: 1%;
        width: 320px;
        height: 320px;
        background-color: red;
        }

    .panel {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 1px;
    }
    
    .panel form {
        display: flex;
        flex-direction: column;
        width: 100vw;
        
    }
    
    .panel form h2 {
        color: white;
        box-shadow: 0 0 6px rgb(19, 164, 8);
        text-align: center;
    }
    
    .panel form input {
        height: 30px;
        text-align: center;
        /*margin-bottom: 1%;*/
    }   
    .panel2 #formScore {

        width: 100vw;
        
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }

}