body{

    background-color: grey;
    display: flex;
    flex-direction: column;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer{

    display: flex;
    align-items: center;
    justify-content: center;

}

.section{

    display: flex;
    flex-direction: row;
    background-image: url('img/fondo.jpg');
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;


}

.panel{
    display: flex;
    width: 40vw;
    height: 60vh;
    justify-content: center;
    align-items: center;
    border: solid rgb(73, 71, 71) 10px;
   
    
    


}

.panel form{

   display: flex;
   flex-direction: column;
  

}

.panel form h2{

    color: white;
    box-shadow: 0 0 6px rgb(192, 164, 8);
}

.panel form input{

    height: 30px;;
    margin-bottom: 1%;
}

.board{
    display: flex;
    width: 60vw;
    height: 60vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: solid rgb(73, 71, 71) 10px;
    background-color: dimgray;
}


.board button {

    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid #999;
    border-radius: 50px;
    box-shadow: 0 0 6px rgb(192, 164, 8);
}

.board button.hidden{

    visibility: hidden;

}


.board button.peg{


    background-color: #1f1f25;
}


.board button.peg:hover{

    background-color: #0e0e14
}

.board button.peg:active{
 background-color: #000066;

}


.board button.hole{


    background-color: white;
}

.board button.selected{

    background-color: blue;

}

.board button.selected:active{

    background-color: red;

}


.board button.suggestion {

    background-color: green;

}