.board{
    display: flex;
    background-color:  #e20d0d;
    border-radius: 5px;
    padding: 1vw;
    margin-top: 10vh;
    justify-content: center;
}


.board button {

    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid #999;
    border-radius: 50px;

}

.board button.hidden{

    visibility: hidden;

}


.board button.peg{


    background-color: #0000aa;
}


.board button.peg:hover{

    background-color: #0000ff
}

.board button.peg:active{
 background-color: #000066;

}


.board button.hole{


    background-color:darkcyan;
}

.board button.selected{

    background-color: chocolate;

}

.board button.selected:active{

    background-color: rgb(196, 91, 17);

}


.board button.suggestion {

    background-color: red;

}